.title {
  text-align: center;
  font-size: 4.5vw;
}

.login-btn {
  width: 50%;
  margin-left: 25%;
  margin-top: 10vw;
}

.forgot-pwd {
  text-align: center;
  text-decoration: underline;

  p {
    color: var(--ion-color-primary);
    margin-top: 20px;
    text-decoration: underline;
  }
}

.signup-title {
  text-align: center;
}